body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #4b0082, #6a0dad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caixa principal */
.container {
    width: 900px;
    background-color: #ddd;
    border: 5px solid #fff;
}

/* Cabeçalho */
header {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* Menu */
nav {
    background-color: #bbb;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* Área principal */
main {
    display: flex;
    min-height: 250px;
}

/* Coluna esquerda */
.esquerda {
    width: 20%;
    background-color: #cfcfcf;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* Conteúdo central */
.conteudo {
    width: 60%;
    background-color: #d9d9d9;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* Coluna direita */
.direita {
    width: 20%;
    background-color: #cfcfcf;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #bbb;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
